#
# IEC/IEEE 61850-9-3 Power Utility Profile configuration.
#
# This profile is based on IEEE C37.238-2017 and restricts IEEE 1588
# parameters to the values defined in IEC/IEEE 61850-9-3 for use in
# power utility substations.
#
# See the file, default.cfg, for the complete list of available options.
#
[global]
domainNumber		0
network_transport	L2
delay_mechanism		P2P
logAnnounceInterval	0
logSyncInterval		0
logMinPdelayReqInterval	0
announceReceiptTimeout	3
power_profile.version	2017
